.adminLoanGrid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 20px;
  position: relative; /* Added */
}

.adminLoanGrid1 .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.adminLoanGrid1 .action-buttons {
  display: flex;
  align-items: center;
}

.adminLoanGrid1 .approve-button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  text-decoration: none;
}

.adminLoanGrid1 .approve-button:hover {
  background-color: #2c974b;
}

.adminLoanGrid1 .reject-button {
  background-color: #fa0202;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  text-decoration: none;
  margin-right: 15px;
}

.adminLoanGrid1 .reject-button:hover {
  background-color: #da0808;
}

/* .adminLoanGrid1 .icon-container {
  display: flex;
}

.adminLoanGrid1 .icon-container i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
} */

.adminLoanGrid1 .icon-container {
  position: absolute;
  top: 6px;
  right: 2;
  display: flex;
  align-items: center;
}

.adminLoanGrid1 .icon-container i {
  font-size: 20px;
  /* margin-left: 10px; */
  cursor: pointer;
}
.grid-item {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#editLoan{
  color: grey;
  font-size: 1rem;
  background-color: #f8f9fa;
  border: 1px solid grey;
  padding: 6px 6px;
  border-radius: 4px;
}
#deleteLoan{
  color: grey;
  font-size: 1rem;
  background-color: #f8f9fa;
  border: 1px solid grey;
  padding: 6px 6px;
  border-radius: 4px;
}