
h2{
    color: white;
  
  }
  .profile-container {
      padding-top: 10px;
      background-color: #585151;
      
    }
    h2{
      text-align: center;
    }
    .profile-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .form-field {
      
      border: gray 1px solid;
      border-radius: 3px;
      width: 50%;
      min-height: 50px;
      margin: 2%;
      background-color: gray;
      text-align: center;
      font-size: 1.4em;
     
    }
    
    label {
      font-weight: bold;
    }
    
    span {
      margin-left: 10px;
    }
    
    #name {
      text-transform: capitalize;
    }
    
    @media screen and (max-width: 600px) {
      .profile-container {
        font-size: 1.2em;
        margin: 10px;
      }
     
    }
    
    