body{
  /* background-color: whitesmoke; */
  background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000');
}
.apply-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
}

.card1 {
  background-color: rgba(246, 239, 239, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  backdrop-filter: blur(0px);
}

.form-group {
  margin-bottom: 20px;
}

.input-form {
  /* width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px; */
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.form1 {
  display: flex;
  flex-direction: column;
}

.page-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease;
}

.page-button.current-page {
  background-color: #000;
  color: #fff;
}

.form-group label {
  font-weight: bold;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#uploadDocumentButton {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#applyLoan {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}