.input-form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.input-form:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.applyform-container {
  border-radius: 5px;
  margin: 0 auto;
  padding: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form1 {
  text-align: center;
}

.form-group {
  text-align: center;
  padding: 7px 0;
}
.page-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #5707f7;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.page-button:hover {
  background-color: #7f4bf8;
}

.current-page {
  background-color: #5707f7;
  color: #ffffff;
}
